<app-nav-bar></app-nav-bar>

<h2 class="p-5 font-bold underline">Housing Summary</h2>

<div *ngIf="houseSummary">
    <div class="content-container">
        <h2>Facility Information</h2>
        <ul>
            <li>Beds: {{houseSummary.facilityInfo.bed}}</li>
            <li>Mattresses: {{houseSummary.facilityInfo.mattresses}}</li>
            <li>Tables: {{houseSummary.facilityInfo.tables}}</li>
            <li>Chairs: {{houseSummary.facilityInfo.chairs}}</li>
        </ul>
    </div>
    <div class="content-container">
        <h1>Facility Reports</h1>
        <div *ngFor="let report of houseSummary.facilityReports">
            <div class="content-container">
                <h3>Title: {{report.title}} - Status: {{report.status}}</h3>
                <p>Description: {{report.description}}</p>
                <p>Created by: {{report.createdBy}}</p>
                <p>Time created: {{report.timestamp}}</p>
                <div class="flex justify-end">
                    <button mat-raised-button color="primary" (click)="addComment(report.id)">Add Comment</button>
                </div>
                <div *ngFor="let comment of report.comments" style="margin-left: 20px;">
                    <div class="content-container">
                        <p><strong>Comment:</strong> {{comment.description}}</p>
                        <p>Comment by: {{ getCommenterDisplayName(comment) }}</p>
                        <p>Date: {{comment.timestamp | date:'medium'}}</p>
                        <div class="flex justify-end">
                            <button mat-button color="primary"
                                *ngIf="comment.createdby._id === this.housingService.profile"
                                (click)="editComment(comment._id)">Edit Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="houseSummary && houseSummary.pagination">
            <div class="flex gap-4 justify-end">
                <button mat-raised-button color="primary" (click)="goToPreviousPage()"
                    [disabled]="page <= 1">Previous</button>
                <button mat-raised-button color="primary" (click)="goToNextPage()"
                    [disabled]="page >= houseSummary.pagination.totalPage">Next</button>
            </div>
        </div>

    </div>
    <div class="content-container">
        <h2>Employee Information</h2>
        <label>Enter employee's username you want to add in this house</label>
        <br/>
        <input type="text" name="username" class="content-container-input" [(ngModel)]="inputValue">
        <button mat-raised-button color="primary" (click)="addEmployeeToHouse()">Add</button>
        <ul>
            <li *ngFor="let employee of houseSummary.employeeInfo">
                <div class="content-container">
                    <h3><a routerLink="/employee-profile/{{employee.id}}">Name: {{employee.preferredName}}</a></h3>
                    <p>Phone: {{employee.phone}}</p>
                    <p>Email: {{employee.email}}</p>
                    <p>Car: {{employee.car.make}} {{employee.car.model}} - {{employee.car.color}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>