<div class="flex flex-col gap-4 py-4 px-8">
  <p class="text-xl font-bold">Pending Applications</p>
  <ng-container *ngIf="pendingApplications.length; else noPendingApplications">
    <mat-card 
      *ngFor="let application of pendingApplications"
      class="hover:bg-gray-100 cursor-pointer"
      [routerLink]="['/hiring-management/application-details']"
      [queryParams]="{ id: application._id }"
    >
      <mat-card-content
      >
        <div>
          <span>
            Name: 
          </span>
          {{ application.firstName }} {{ application.middleName }} {{ application.lastName }}
        </div>
        <div>
          <span>
            Email:
          </span>
          {{ application.email }}
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #noPendingApplications>
    <p>None</p>
  </ng-template>

  <p class="text-xl font-bold">
    Rejected Applications
  </p>
  <ng-container *ngIf="rejectedApplications.length; else noRejectedApplications">
    <mat-card 
      *ngFor="let application of rejectedApplications"
      class="hover:bg-gray-100 cursor-pointer"
      [routerLink]="['/hiring-management/application-details']"
      [queryParams]="{ id: application._id }"
    >
      <mat-card-content>
        <div>
          <span>
            Name: 
          </span>
          {{ application.firstName }} {{ application.middleName }} {{ application.lastName }}
        </div>
        <div>
          <span>
            Email:
          </span>
          {{ application.email }}
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #noRejectedApplications>
    <p>None</p>
  </ng-template>

  <p class="text-xl font-bold">
    Approved Applications
  </p>
  <ng-container *ngIf="approvedApplications.length; else noApprovedApplications">
    <mat-card 
      *ngFor="let application of approvedApplications"
      class="hover:bg-gray-100 cursor-pointer"
      [routerLink]="['/hiring-management/application-details']"
      [queryParams]="{ id: application._id }"
    >
      <mat-card-content>
        <div>
          <span>
            Name: 
          </span>
          {{ application.firstName }} {{ application.middleName }} {{ application.lastName }}
        </div>
        <div>
          <span>
            Email:
          </span>
          {{ application.email }}
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #noApprovedApplications>
    <p>None</p>
  </ng-template>
  <router-outlet></router-outlet>
</div>
