{
  "useTabs": false,
  "tabWidth": 2,
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleAttributePerLine": true
}
