{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
