{
  "useTabs": false,
  "tabWidth": 2,
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
