<app-nav-bar></app-nav-bar>
<mat-sidenav-container class="w-full min-h-[calc(100vh-64px)]">
  <mat-sidenav
    mode="side"
    opened
    class="bg-slate-200 px-2"
  >
    <div class="flex flex-col gap-2 mt-4">
      <button
        mat-button
        routerLink="./registration-email"
        class="bg-slate-300"
      >
        Registration Email
      </button>
      <button
        mat-button
        routerLink="./application-review"
        class="bg-slate-300"
      >
        Application Review
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
