<mat-card class="document-card">
  <mat-card-header>
    <mat-card-title>{{ document.owner.fullName }}</mat-card-title>
    <mat-card-subtitle>{{ document.type }} - {{ document.status }}</mat-card-subtitle>

  </mat-card-header>
  <button mat-button color="primary" (click)="download.emit(document._id)">Download</button>
  <button mat-button color="primary" (click)="preview.emit(document._id)">Preview</button>

  <mat-card-content>

    <p>URL: {{document.URL}}</p>
    <p>Work Authorization Title: {{ document.owner.workAuth.title }}</p>
    <p>Start Date: {{ document.owner.workAuth.startDate | date }}, End Date: {{ document.owner.workAuth.endDate | date }}</p>
    <p>Days Remaining: {{ calculateDaysRemaining(document.owner.workAuth.endDate) }}</p>
     <p>Feedback: {{ document.feedback }}</p>
     <button>Send Notifications</button>
  </mat-card-content>
  <mat-card-actions>
   
    <button mat-button color="primary" (click)="approve.emit(document._id)">Approve</button>
    <mat-form-field appearance="fill">
      <mat-label>Feedback for rejection</mat-label>
      <textarea matInput [(ngModel)]="feedback"></textarea>
    </mat-form-field>
    <button mat-button color="warn" (click)="reject.emit({id: document._id, feedback: feedback})">Reject</button>
  </mat-card-actions>
</mat-card>
