<app-nav-bar></app-nav-bar>
<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Documents">
        <div *ngFor="let document of documents">
      <app-document-detail class="app-de"
        [document]="document"
        (approve)="approveDocument(document._id)"
        (reject)="rejectDocument($event.id, $event.feedback)"
        (download)="downloadDocument($event)"
        (preview)="previewDocument($event)"
        (sendNotification)="sendNotification(document._id)">
      </app-document-detail>
    </div>
    <div *ngIf="showIframe" class="iframe-container">
      <iframe [src]="iframeSrc | safeUrl" width="100%" height="500px"></iframe>
      <button (click)="closeIframe()">Close Preview</button>
    </div>
  </mat-tab>
  <mat-tab label="Employee">
    <app-employee-list></app-employee-list>
  </mat-tab>
</mat-tab-group>
